li.scaled:hover
{
    -webkit-transform : scale(1.02);
    transform : scale(1.02);
    color: #f5f5f5;
    background: #317EAC;
}
.list-group
{
    margin-right: 10px;
}
body
{
    background-color: #317EAC; /*#F26C4F; #317EAC (standard)*/
}
label
{
    margin-left: 20px;
}
.btn-primary
{
    margin-right: 20px;
}
.well
{
 background-color: #F5F4D9;
}
.title
{
    text-decoration:underline;
    text-shadow: 5px 5px 5px #89a2c3;
}
#extras
{
    color : black;
}